SECRET_KEY=change-this-to-a-long-random-secret
WISHLIST_MODE=false
BETA_APPLICATION_MODE=true
DATABASE_URL=
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password
BETA_PROJECT_LIMIT=2
